body {
	overflow: hidden;
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Kaushan Script', cursive;
	color: #0d0301;
	margin: 0;
	padding: 0;
}

a {
	color: #494c3d;
}

a:hover {
	color: rgb(222, 224, 212);
}

.hide {
	display: none;
}

.date-head {
	margin: 0;
	text-transform: uppercase;
	font-size: 17px;
}

.center-img {
	text-align: center;
}

.event-text {
	margin: 0;
}

.kron-base-left {
	padding: 4px 47px 0px 70px;
	margin-top: 49px;
}

.kron-base-right {
	padding: 4px 82px 0px 50px;
	margin-top: 62px;
}

.event-space {
	height: 15px;
}

.flipbook-viewport {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.flipbook-viewport .container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
}

.flipbook-viewport .flipbook {
	width: 922px;
	height: 600px;
	left: -461px;
	top: -300px;
}

.flipbook-viewport .page {
	width: 461px;
	height: 600px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.flipbook-viewport .page img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
}

#kronorium {
	position: absolute !important;
	margin: 0 auto;
}